body {
  background-image: -webkit-linear-gradient(65deg, #695c7e 55%, #35406c 55%);
}
.calc {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  padding: 12px;
  background-color: #dea4a4;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

button:active {
  background-color: #a040f4;
}
button:hover {
  background-color: aquamarine;
}

#result {
  grid-column: 1 / span 4;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  text-align: left;
}
